{% extends 'base.html' %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({{url_for('static', filename='assets/img/edit-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if is_edit: %}
                    <title>Perbarui</title>
                    <h1>Perbarui Postingan</h1>
                    {% else: %}
                    <title>Baru</title>
                    <h1>Postingan Baru</h1>
                    {% endif %}
                    <span class="subheading">Kamu punya sesuatu yang layak dibagikan!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {# Load CKEditor sebelum form #}
            {{ ckeditor.load() }}
            {{ ckeditor.load_code_theme() }}
            {{ ckeditor.config(name='body') }}

            <style>
                /* Tambahkan jarak antara editor dan tombol */
                form .ck-editor__editable {
                    margin-bottom: 20px;
                }

                form button[type="submit"] {
                    margin-top: 10px;
                }

                form input,
                form textarea,
                form select {
                    margin-bottom: 15px;
                }
            </style>

            {% block form %}
            {{ super() }}
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}{{super()}}{% endblock %}
{% endblock %}